


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./templates/style.css') }}" xmlns="http://www.w3.org/1999/html">


<div class="login-box">
  <h2>Edges Visualizing Service</h2>
  <form action="/report" method="post" autocomplete="off" enctype=multipart/form-data>
    <div class="user-box">
      <input type="text" name="maxvalue" required>
      <label>Max value:</label>
    </div>
    <div class="user-box">
      <input type="text" name="minvalue" required>
      <label>Min value:</label>
    </div>
      <div class="user-box">
      <input type=file name=file>
    </div>
    {% if x == 2 %}
    <div class="user-box">
        <label >
         An unexpected error ocurred
        </label>
    </div>
    {%endif%}
    <button type="submit" name="submit" value="add">
      Submit
    </button>
  </form>
</div>


{% if x == 1 %}
<div class="report">
    <h2>Canny Edge Detection</h2>
    <div class="figure">
        <center>
    <img src="{{ url_for('static', filename='./images/{}'.format(image)) }}">
        </center>
        </div>
    <div class="legend">
        Figure 1: Original image.
    </div>
    <div class="figure">
        <center>
    <img src="{{ url_for('static', filename='./images/result.png') }}">
        </center>
        </div>
    <div class="legend">
        Figure 2: Image with edges detected.
    </div>
</div>
{%endif%}